 
 header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    
 }
 header img{
     max-width:300px;
     margin:30px;
 }
 header ul{
     list-style: none; 
     display: flex;
     flex-wrap: nowrap; 
     margin:30px;
 }
 header ul li a{
    text-decoration:none;
    color:black;
    padding-left:100px;

 }
 body{
    font-family: 'Lato', sans-serif;
    background-color:#EEEEEE;
 }
 #form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height:200px;
    margin-top: 60px;
 }
 #form-section #email{
     margin-bottom: 20px;
     width:20vw;
 }
 #form-section p{
     font-size: 30px;
     font-weight: bold;
 }
 #form-section #submit
 {
     background-color:#F1C40F;
     font-size: 20px;
     font-weight: bold;
     border:none;
 }
  #feature {
      display: block;
  }
 
 #feature div{
    display: flex;
 }
 .icon {
     color: darkorange;
 }
 .container {
     width:70%;
     margin-left:15%;
 }
 .text{
     display: flex;
     flex-direction: column;
     margin-left: 100px;
 }
 .text h2 , .text p{
     margin:0px;
 }
 .element{
     display: flex;
     align-items: center;
     margin-top:50px;
 }
 .fa{
     width:60px;
 }

 #how-it-works{
     display: flex;
     justify-content: center;
     margin-top: 50px;
 }

 #pricing {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     justify-content: center;
     margin-top: 50px;
 }

 .price-box{
    margin-left: 40px;
    border: solid 2px black;
 }
 @media (min-width: 767px) {
 
    }